version: '2.2'

volumes:
  reports-data:
    driver: "local"
  django-data:
    driver: "local"
  redis-data:
    driver: "local"
  s3-data:
    driver: "local"

services:

  prospect:
    build: "./insight"
    volumes:
      - "django-data:/database"
    environment:
      - "SECRET_KEY=${DJANGO_SECRET_KEY}"
    healthcheck:
      test: [ 'CMD', 'nc', '-w5', '-z', '-v', '0.0.0.0', '80' ]
    depends_on:
      - 'redis'

  lighthouse:
    build: "./lighthouse"
    init: true
    environment:
      - "MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}"
      - "MINIO_SECRET_KEY=${MINIO_SECRET_KEY}"
      - "MINIO_URL=${MINIO_URL}"
    volumes:
    - "reports-data:/home/chrome/reports"
    command: ["worker", "-u", "redis://redis:${REDIS_PORT}"]
    shm_size: "1gb"
    healthcheck:
      test: [ 'CMD', "rq", "info", "--url", "redis://redis:${REDIS_PORT}"]
    depends_on:
      - 'redis'
      - 'minio'

  nginx:
    image: "nginx:1.19.0-alpine"
    volumes:
      - './nginx/config:/etc/nginx'
      - './nginx/static:/static'
      - "reports-data:/reports"
    healthcheck:
      test: [ 'CMD', 'nc', '-w5', '-z', '-v', '0.0.0.0', '80' ]
    depends_on:
      - 'prospect'
      - 'minio'
      - 'queue_dashboard'

  redis:
    image: "library/redis:6-alpine"
    volumes:
    - "redis-data:/data"
    healthcheck:
      test: ['CMD', 'nc', '-w5', '-z', '-v', '0.0.0.0', '${REDIS_PORT}']

  minio:
    image: "minio/minio:RELEASE.2020-10-12T21-53-21Z"
    volumes:
    - "s3-data:/data"
    command: ["server", "/data"]
    environment:
    - "MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}"
    - "MINIO_SECRET_KEY=${MINIO_SECRET_KEY}"
    healthcheck:
      test: ['CMD', 'wget', '--spider', 'localhost:9000/minio/health/live']

  queue_dashboard:
    image: "eoranged/rq-dashboard:v0.6.3"
    environment:
      - "RQ_DASHBOARD_REDIS_URL=redis://redis:${REDIS_PORT}"
    healthcheck:
      test: [ 'CMD', 'nc', '-w5', '-z', '-v', '0.0.0.0', '9181' ]
    depends_on:
      - 'redis'
    logging:
        driver: "json-file"
        options:
            max-file: "5"
            max-size: "10m"
