version: '3'

volumes:
  reports-data:
    driver: "local"
  django-data:
    driver: "local"
  redis-data:
    driver: "local"

services:

  redis:
    image: library/redis:6-alpine
    volumes:
    - "redis-data:/data"

  prospect:
    build: ./insight
    volumes:
      - "django-data:/database"
      - "./insight:/insight"
    environment:
      - "SECRET_KEY=6tdp62idf"

  lighthouse:
    build: ./lighthouse
    init: True
    volumes:
    - "./lighthouse/lighthouse:/lighthouse"
    - "reports-data:/home/chrome/reports"
    command:
      - "worker"
      - "-u"
      - "redis://redis:6379"
    shm_size: "1gb"
    depends_on:
      - 'redis'

  nginx:
    build:
      context: './nginx'
    volumes:
      - './nginx/config:/etc/nginx'
      - './nginx/static:/static'
      - "reports-data:/reports"
    depends_on:
      - 'prospect'
    ports:
    - "80:80"
