<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Prospect Insighter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <script src='{% static "js/bootstrap.js" %}'></script>
    <link rel="stylesheet" href='{% static "css/mainStyles.css" %}'>
    <script src='{% static "js/mainFunctions.js" %}'></script>
</head>
<body>

    <div class="row container justify-content-center m-auto">
        <a href="{% url 'prospect:index' %}">
            <img src="https://scivisum-email-static-content.s3-eu-west-1.amazonaws.com/Tribe+Logo.png" alt="ThinkTribe Logo" id="tribe-logo" class="img-responsive my-3" width="120" height="auto">
        </a>
    </div>

    <div class="row">
        <hr class="mt-2 col-6">
    </div>

    <div class="row container justify-content-center m-auto mt-4">
        <h1 class="text-tribe">{% block title %}Prospects Insight{% endblock %}</h1>
    </div>

{% block body %}{% endblock %}
</body>
</html>