<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Prospect Insighter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/mainStyles.css">
    <script src="js/mainFunctions.js"></script>
</head>
<body>

    <div class="row container justify-content-center m-auto">
        <a href="{% url 'prospect:index' %}">
            <img src="https://scivisum-email-static-content.s3-eu-west-1.amazonaws.com/Tribe+Logo.png" alt="ThinkTribe Logo" id="tribe-logo" class="img-responsive my-3" width="120" height="auto">
        </a>
    </div>

    <div class="row container justify-content-center m-auto mt-4">
        <h1 class="text-tribe">Prospect Insighter</h1>
    </div>

    <section class="container text-center mt-3">

        <nav class="navbar navbar-expand-sm bg-white navbar-light justify-content-center rounded mt-2">

            <form class="form-inline" action="{% url 'prospect:analyse' %}" method="post">
                {% csrf_token %}

                <div class="row">

                    <div class="form-group">
                        <select name="prospect" class="form-control" required>
                            <option value="">Choose Prospect</option>
                        {% for prospect in prospects %}
                            <option value="{{ prospect.name }}">{{ prospect.name }}</option>
                        {% endfor %}
                        </select>
                        <button type="button" class="btn btn-tribe ml-1" data-toggle="modal" data-target="#add-new-prospect">+</button>
                    </div>

                    <div class="col prospect-url">
                      <input pattern="http[s]?:\/\/[a-z]*\.[a-z]*\.[a-z]*" id="prospect-url" class="form-control mr-sm-2" type="text" name="prospecturl" placeholder="Prospect URL" required>
                    </div>

                    <div class="col compone-url">
                      <input pattern="http[s]?:\/\/[a-z]*\.[a-z]*\.[a-z]*" id="compone-url" class="form-control mr-sm-2" type="text" name="comp1url" placeholder="Competitor URL" required>
                    </div>

                    <div class="col comptwo-url">
                      <input pattern="http[s]?:\/\/[a-z]*\.[a-z]*\.[a-z]*" id="comptwo-url" class="form-control mr-sm-2" type="text" name="comp2url" placeholder="Competitor URL" required>
                    </div>

                    <div class="col">
                        <button class="btn btn-tribe max-width" type="submit">Analyse</button>
                    </div>

                </div>
            </form>

            <!-- The Modal -->
            <div class="modal fade mt-5 border-0" id="add-new-prospect">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-tribe">Add New Prospect</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body ">
                            <form class="form-inline" action="{% url 'prospect:add' %}" method="post">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Prospect">
                                        <button class="btn btn-tribe ml-2" type="submit">Add</button>
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </nav>

    </section>

    <section id="prospect-listing-table" class="justify-content-center">

        <div class="row">
            <hr class="mt-5 col-6">
        </div>

        <div class="row container justify-content-center m-auto">
            <h3 class="text-tribe">Prospect Reports</h3>
        </div>

        <div class="container mt-3">

            <input class="form-control my-2" id="prospect-table-search" type="text" placeholder="Quick filter..">

            <table class="table table-hover table-light border rounded">
                <thead id="prospect-table-header" class="table-light border">
                  <tr>
                    <th>Prospect</th>
                    <th>Reports</th>
                    <th>Last Report</th>
                    <th>Last Tag</th>
                  </tr>
                </thead>
                <tbody id="prospect-table-body" class="rounded">
                    {% for prospect in prospects %}
                      <tr>
                        <td><a href="reports/">{{ prospect.name }}</a></td>
                        <td>{{ prospect.reports }}</td>
                        <td>{{ prospect.last }}</td>
                          <td><a href="reports/{{ prospect.last_tag }}-main.report.html">{{ prospect.last_tag }}</a></td>

                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

</body>
</html>