{% extends "prospect/base.html" %}

{% block body %}

    <section class="container text-center mt-3">

        <nav class="navbar navbar-expand-sm navbar-light justify-content-center rounded mt-2">

            <form class="form-inline" action="{% url 'prospect:analyse' %}" method="post">
                {% csrf_token %}

                <div class="row">

                    <div class="col">

                        <div class="row">

                            <div class="form-group mb-1">
                                <select name="prospect" class="form-control" required>
                                    <option value="">Choose Prospect</option>
                                    {% for prospect in prospects %}
                                    <option value="{{ prospect.name }}">{{ prospect.name }}</option>
                                    {% endfor %}
                                </select>
                                <button type="button" class="btn btn-tribe ml-2" data-toggle="modal" data-target="#add-new-prospect">+</button>
                            </div>
                        </div>

                        <div class="row">
                            <input pattern="http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.co.uk|.com|.net|.gov|.org|.in)(\/[^\s]*)?" id="prospect-url" class="form-control mr-sm-2" type="url" name="prospecturl" placeholder="Prospect URL" required>
                        </div>

                    </div>

                    <div class="col">

                        <input id="compone-name" class="form-control mr-sm-2 mb-1" type="text" name="comp1name" placeholder="Competitor Name" required>

                        <input pattern="http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.co.uk|.com|.net|.gov|.org|.in)(\/[^\s]*)?" id="compone-url" class="form-control mr-sm-2" type="url" name="comp1url" placeholder="Competitor URL" required>

                    </div>

                    <div class="col">

                        <input id="comptwo-name" class="form-control mr-sm-2 mb-1" type="text" name="comp2name" placeholder="Competitor Name" required>

                        <input pattern="http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.co.uk|.com|.net|.gov|.org|.in)(\/[^\s]*)?" id="comptwo-url" class="form-control mr-sm-2" type="url" name="comp2url" placeholder="Competitor URL" required>

                    </div>

                    <div class="col my-auto">
                        <button class="btn btn-tribe max-width " type="submit">Analyse</button>
                    </div>
                </div>
            </form>

            <!-- The Modal -->
            <div class="modal fade mt-5 border-0" id="add-new-prospect">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-tribe">Add New Prospect</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body ">
                            <form class="form-inline" action="{% url 'prospect:add' %}" method="post">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Prospect">
                                        <button class="btn btn-tribe ml-2" type="submit">Add</button>
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </nav>

    </section>

    <section id="prospect-listing-table" class="justify-content-center">

        <div class="row">
            <hr class="mt-5 col-6">
        </div>

        <div class="row container justify-content-center m-auto">
            <h3 class="text-tribe">Prospect Reports</h3>
        </div>

        <div class="container mt-3">

            <input class="form-control my-2" id="prospect-table-search" type="text" placeholder="Quick filter..">

            <table class="table table-hover table-light border rounded">
                <thead id="prospect-table-header" class="table-light border">
                  <tr>
                    <th>Prospect</th>
                    <th>Reports</th>
                    <th>Last Run</th>
                  </tr>
                </thead>
                <tbody id="prospect-table-body" class="rounded">
                    {% for prospect in prospects %}
                      <tr>
                        <td>{{ prospect.name }}</td>
                        <td>{{ prospect.reports }}</td>

                        <td>
                            {% if prospect.last_tag %}
                                <a href="{% url 'prospect:report' prospect.last_tag %}">{{ prospect.last }}</a>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>


    <section class="justify-content-center">

        <div class="container mt-3">

            <table class="table table-hover table-light border rounded">
                <thead class="table-light border">
                  <tr>
                    <th>Engine Status</th>
                    <th>Engine Message</th>

                  </tr>
                </thead>
                <tbody class="rounded">
                  <tr>
                    {% if request.session.ongoing_report %}
                        <td id="status">Busy</td>
                    {% else %}
                        <td id="status">Available</td>
                    {% endif %}
                        <td id="message"></td>
                  </tr>

                </tbody>
            </table>
        </div>

    </section>

    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}

    {% if request.session.ongoing_report %}
    <script>
        (function poll() {
        setTimeout(function() {
            $.ajax({
                url: "{% url 'prospect:status' %}",
                type: "GET",
                success: function(data) {
                    $("#status").text(data["status"])
                    $("#message").text(data["response"])
                    if (data["status"] == "Available"){
                        location.reload(true);
                    }
                },
                dataType: "json",
                complete: poll,
                timeout: 2000
            })
        }, 10000);
        })();
    </script>
    {% endif %}

{% endblock %}
