{% extends "prospect/base.html" %}

{% block title %}{{ prospect }} Performance Report{% endblock %}

{% block body %}

    <section id="prospect-listing-table" class="justify-content-center">

        <div class="row">
            <hr class="mt-3 col-6">
        </div>

        <div class="container mt-3">

            <table class="table table-hover table-light border rounded">
                <thead id="report-table-header" class="table-light border">
                <tr>
                    <th style="width: 40%">Metric</th>
                    <th><a href="../../reports/{{ tag }}-main.report.html">{{ prospect }}</a></th>
                    <th><a href="../../reports/{{ tag }}-comp1.report.html">{{ comp1 }}</a></th>
                    <th><a href="../../reports/{{ tag }}-comp2.report.html">{{ comp2 }}</a></th>
                </tr>
                </thead>
                <tbody id="report-table-body">
                    <tr>
                        <td>Performance Score</td>
                        {% for report in reports%}
                        <td class="badge-{{ report.performance_class }}">{{ report.performance_score }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>First Contentful Paint</td>
                        {% for report in reports%}
                        <td class="text-{{ report.metrics.first_contentful_paint.perf_class }}">{{ report.metrics.first_contentful_paint.timing }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Speed Index</td>
                        {% for report in reports%}
                        <td class="text-{{ report.metrics.speed_index.perf_class }}">{{ report.metrics.speed_index.timing }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Largest Contentful Paint</td>
                        {% for report in reports%}
                        <td class="text-{{ report.metrics.largest_contentful_paint.perf_class }}">{{ report.metrics.largest_contentful_paint.timing }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Time to Interactive</td>
                        {% for report in reports%}
                        <td class="text-{{ report.metrics.interactive.perf_class }}">{{ report.metrics.interactive.timing }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Total Blocking Time</td>
                        {% for report in reports%}
                        <td class="text-{{ report.metrics.total_blocking_time.perf_class }}">{{ report.metrics.total_blocking_time.timing }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Cumulative Layout Shift</td>
                        {% for report in reports%}
                        <td class="text-{{ report.metrics.cumulative_layout_shift.perf_class }}">{{ report.metrics.cumulative_layout_shift.timing }}</td>
                        {% endfor %}

                    </tr>
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
